body {
    background-color: #f5f6fa;
}

.main {
  min-height: 900px;
  max-width: 1280px;
}

.search-container {
  display: flex;
  align-items: center;
}

.map-container {
  height: 500px;
  flex-grow: 1;
}

#map {
  border-radius: 12px;
  overflow: hidden;
}

.chart-container .col {
  background-color: #eff2f6;
  border-radius: 12px;
}


.linear-chart {
  height: 100%;
}

.header-container {
    padding-top: 15px;
    padding-bottom: 15px;
}

.title-container h2 {
  color: #fc3c3c;
  margin-bottom: 0;
  font-weight: 600;
}

.stats-container .card-title {
    color: #695d5c;
    font-weight: 400;
}

.stats-container .card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  cursor: pointer;
}

.stats-container .card-subtitle {
    font-weight: 600;
}


.stats-container .total {
    font-size: 0.8rem;
}

.search-container .card-body {
  padding: 1rem;
}

.side-panel-container {
  background-color:white;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
  padding-top: 15px;
}

.total-number {
  color: #cc1034;
}

.recovered-number {
  color: #7fd922;
}

.deaths-number {
  color: #fa5575;
}

/* proses hover akif */
.card.active > .tab-selection {
  opacity: 1;
}


.tab-selection {
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: all 0.2s;
}

.card:hover > .tab-selection {
  opacity: 1;
}
/* proses hover akif */


.cases .tab-selection {
  background-color: #cc1034;
}

.recovered .tab-selection {
  background-color: #7fd922;
}

.deaths .tab-selection {
  background-color: #fa5575;
}

.main-container {
  display: flex;
  flex-direction: column;
}

